.venv
venv
tmpvenv
.idea
.cache
cache
**/cache
**/.cache
dist
.dist
build
src/*.egg-info
*.pyc
*.pyo
*.pyd
**/*.pyc
**/*.pyo
**/*.pyd
local
nogit
.nogit
*.qcow2
*.qcow2.lz
*.qcow2.gz
*.qcow2.xz
**/*.qcow2
**/*.qcow2.lz
**/*.qcow2.gz
**/*.qcow2.xz
*.img
images
*.cast
*.cast.gz
*.cast.xz
**/*.cast
**/*.cast.gz
**/*.cast.xz

.publicgitignore
secrets
.scripts
Makefile
Jenkinsfile
